<div>
    <div class=" flex flex-row w-full">
        <div class="h-screen bg-gradient-to-b from-slate-900 to-gray-800  rounded-br-lg w-[20%] shadow-md text-white flex flex-col gap-4 items-center  ">
            <!-- side -->
             <div class="p-5 items-center  gap-3 flex flex-row shadow-lg shadow-slate-600 outline m-1 outline-1 outline-neutral-600">
                <img src="./img/profile.webp"  class="rounded-full opacity-30 h-[60px]">
                <p>
                    <span>Welcome,  </span>
                    <span class=" font-semibold pl-4">JOHN</span>
                </p>
             </div>

             <ul class="w-full flex flex-col gap-2  s">
                <li class="w-full p-2 "><span><i class="fa-duotone fa-solid fa-user fa-1xl "></i></span>Profile</li>
                <li class="w-full p-2 "><span><i class="fa fa-history" aria-hidden="true" class="fa-duotone fa-solid fa-user fa-1xl "></i><span></span>MY history</li>
                <li class="w-full p-2 "><span><i class="fa fa-commenting" aria-hidden="true" class="fa-duotone fa-solid fa-user fa-1xl"></i><span>Contact</li>
             </ul>

        </div>
        <section class= "h-screen w-[80%] ">
            <!-- body -->
                <!-- <div class=" container py-5 px-3 text-white">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat voluptatibus nam dolores repellendus iusto, sed architecto quam sequi laborum enim. Alias temporibus libero deleniti mollitia molestias accusamus at impedit sit.</p>
                    <div class="flex items-center justify-center ">
                        <div class="bg-white p-10 rounded shadow-md">
                        
                        </div>
                    </div> -->
                


        </section>
        
    </div>
</div>