<!-- <%- //include('./includes/navbar.ejs')  %> -->
<div class="px-6 py-3 flex flex-col gap-10 lg:gap-5 md:px-10 lg:px-16 lg:py-7  ">
    <header class="flex justify-between text-white">
       <a href="#" class="flex items-center">
          <h1 class="text-4xl font-bold">JPM</h1>
       </a>
       <!-- <ul class="hidden  lg:flex lg:items-center lg:gap-10 lg:text-lg lg:font-medium">
          <li>
             <a href="#">Location</a>
          </li>
          <li>
             <a href="#"></a>About
          </li>
          
 
       </ul> -->
 
       <div class="hidden lg:flex lg:items-center  lg:gap-10 lg:text-lg lg:font-medium">
          <a href="#">login</a>
          <a class="bg-purple-900 px-2 py-1 font-medium rounded-lg" href="/register">Register</a>
       </div>
       <div class="lg:hidden py-4">
        <i class="fa fa-bars fa-2xl" aria-hidden="true"></i>
       </div>
    </header>
 
    <main class="lg:flex flex-row-reverse justify-center lg:justify-end text-white " >
       <div class="flex items-center justify-center flex-1 hero-transform ">
           <img src="./img/respect-hero.webp" class=" md:w-1/2 lg:w-auto shadow-inner opacity-60 " alt="">
       </div>
       <div class="space-y-6 mt-16 flex-1 text-hero">
          <div class="text-7xl font-bold">
             <h1>Let's Switch </h1>
             <h1>To Remote</h1>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae provident repellendus illo ducimus eius distinctio sed, rem alias, unde vel, ab consectetur illum maxime? Itaque quaerat dignissimos necessitatibus autem deleniti.</p>
          <form action="#" class="flex flex-col gap-6 md:flex-row md:gap-0 ">
             <button  class="bg-indigo-600 px-4 py-3 md:rounded-lg  whitespace-nowrap font-medium rounded-lg"><a href="/login">Get Started</a></button>
          </form>
          <div class="flex flex-col gap-4 py-8">
             <p class="font-semibold">Used by these company</p>
             <ul class="flex gap-5  text-white">
                <li class="bg-indigo-600 p-3 rounded-md ">
                    <i class="fa-brands fa-facebook-f fa-xl"></i>
                </li>
                <li class=" p-2 rounded-md bg-gradient-to-br from-orange-600 to-gray-200 " >
                    <i class="fa-brands  fa-instagram fa-xl"></i>
                </li>
                <!-- <li>3</li> -->
             </ul>
          </div>
       </div>
    </main>
    
 
  </div>
 
 