<div class="md:relative">
    <div class="container mx-auto md:absolute md:left-[30%] md:top-[100%]  ">
        <div class="flex justify-center py-4 mt-20  px-2 my-auto md:w-1/2   flex-col gap-2 w-[100%]  space-y-4 md:flex md:flex-col form-transfor    ">
           
            <h2 class="text-white  text-3xl  font-bold  title-font mb-0">Login</h2>
          <% if (error) { %>
            <div class="bg-red-200 py-4 px-2 w-full rounded-md  shadow-sm ">
                <%= error  %>
                
            </div>
          <% } %>       
            <form action="/login" class="flex flex-col gap-4 shadow-2xl  " method="post">
                <input type="email" placeholder="email" name="email" class="py-2 px-2 rounded-md w-full bg-slate-700">
                <input type="password" placeholder="password" name="password" class="py-2 px-2 rounded-md w-full bg-slate-700">
                <input type="submit" class="py-2 px-2 rounded-md w-full bg-red-500 font-semibold">
            </form>
            <div class="text-sm text-white">
                Don't have an account?  <a href="/register" class="text-indigo-400">Sign Up  →</a>
            </div>
            
        </div>
    </div>
</div>

